<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>riz liebi</title>
</head>
<style>
    .active {
        color: red;
        font-size: 1.2em;
    }
    .pages {
        background-color: red;
    }
</style>
<body>
    <?php view('common.nav'); ?>
    <h2>日志列表</h2>

    <form action="">

        <div>
            关键字：
            <input type="text" name="keyword" id="" value="<?=@$_GET['keyword']; ?>">
            发表日期：
            <input type="text" name="start_date" value="<?=@$_GET['start_date']; ?>" id=""> ~
            <input type="text" name="end_date" value="<?=@$_GET['end_date']; ?>" id="">
            是否显示：
            <input type="radio" name="is_show" id="" checked value="" <?php if(@$_GET['is_show']=='') echo 'checked';?>>全部
            <input type="radio" name="is_show" id="" value="1" <?php if(@$_GET['is_show']=='1') echo 'checked';?>>显示
            <input type="radio" name="is_show" id="" value="0" <?php if(@$_GET['is_show']=='0') echo 'checked';?>>不显示

            <input type="submit" value="搜索">
        </div>

    </form>
<br>
    <table border="1" width="100%">
        <tr>
            <th>ID</th>
            <th width="45%">标题</th>
            <th>

                <a <?php if(@$_GET['order_by']=='date' && @$_GET['order_way']=='asc') echo 'class="active"' ?> href="?order_by=date&order_way=asc<?=getUrl(['order_by','order_way'])?>">㊤</a>

               
                发表日期
           
                <a <?php if(@$_GET['order_by']=='date' && @$_GET['order_way']=='desc') echo 'class="active"' ?> href="?order_by=date&order_way=desc<?=getUrl(['order_by','order_way'])?>">㊦</a>
            </th>
            <th>修改日期</th>
            <th>是否隐藏</th>
            <th>
                <a <?php if(@$_GET['order_by']=='display' && @$_GET['order_way']=='asc') echo 'class="active"' ?> href="?order_by=display&order_way=asc<?=getUrl(['order_by','order_way'])?>">㊤</a>
                浏览量
                <a <?php if(@$_GET['order_by']=='display' && @$_GET['order_way']=='desc') echo 'class="active"' ?> href="?order_by=display&order_way=desc<?=getUrl(['order_by','order_way'])?>">㊦</a>
            </th>
            <th>操作</th>
        </tr>
        <?php foreach($data as $v): ?>
        <tr>
            <td><?=$v['id']?></td>
            <td style="word-break: break-all;"><a target="_blank" href="/contents/<?=$v['id']?>.html"><?= e($v['title'])?></a></td>
            <td><?=$v['created_at']?></td>
            <td><?=$v['updated_at']?></td>
            <td><?=$v['is_show']==1? '显示':'不显示'?></td>
            <td><?=$v['display']?></td>
            <td>
                <a href="/blog/edit?id=<?=$v['id']?>">修改</a>
                <form action="/blog/delete" method="post">
                    <?php csrf_field() ?>
                    <input type="hidden" name="id" value="<?=$v['id']?>">
                    <input type="submit" value="删除">
                </form>
                <!-- <a href="/blog/delete?id=<?=$v['id']?>">删除</a> -->
            </td>
            
        </tr>
        <?php endforeach; ?>
    </table>
<br>
    <?=$pageBtn?>

    <?php view('common.footer'); ?>

</body>
</html>